<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oel.lps.mapper.DcprMapper">
  <resultMap id="BaseResultMap" type="com.oel.lps.bean.Dcpr">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, pid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from l_dcpr
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from l_dcpr
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.oel.lps.bean.Dcpr">
    insert into l_dcpr (id, `name`, pid
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{pid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.oel.lps.bean.Dcpr">
    insert into l_dcpr
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="pid != null">
        pid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.oel.lps.bean.Dcpr">
    update l_dcpr
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oel.lps.bean.Dcpr">
    update l_dcpr
    set `name` = #{name,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <!--查询问题-->
  <select id="queryDcpr"  resultType="com.oel.lps.bean.Dcpr" >
        SELECT a.id ,b.id as bId,a.`name` ,b.`name`as bName,b.special from l_dcpr_name a , l_dcpr b WHERE a.pid = b.pid   AND b.id=#{dcprid}
  </select>

  <!--新增患者Dcpr题目选项-->
  <insert id="addDcprMiddle" parameterType="com.oel.lps.bean.DcprMiddle">
   INSERT INTO l_dcpr_middle(patientID,dcprID,answer,creationTime) VALUES(#{patientID},#{dcprID},#{answer},#{creationTime})
  </insert>

  <!--查询问题主类目-->
  <select id="queryDcprPid"  resultType="com.oel.lps.bean.Dcpr" >
   SELECT a.id ,b.id as bId,a.`name` ,b.`name`as bName,b.special from l_dcpr_name a , l_dcpr b WHERE a.pid = b.pid   AND a.id=#{id} LIMIT 0,1  </select>
</mapper>