<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oel.lps.mapper.PatientMapoper">



  <!--查询患者信息-->
  <select id="queryPatient" resultType="com.oel.lps.bean.Patient">
select p.id,p.patientId,p.patientName,p.patientDate,p.patientAge,p.patientSex,
p.idCardNo,p.sourceDepartment,p.sourceDoctor,p.creationTime
 from l_patient p
</select>

  <!--调差-->
  <select id="queryPatientName" parameterType="java.util.Map" resultType="com.oel.lps.bean.Patient">
select p.id,p.patientId,p.patientName,p.patientDate,p.patientAge,p.patientSex,p.idCardNo,p.sourceDepartment,p.sourceDoctor,p.creationTime 
from l_patient p WHERE 1=1
    <!--调差编号-->
<if test="patientId !=null and patientId !=''">
  and patientId like '%${patientId}%'
</if>
    <!--调差名字-->
    <if test="patientName !=null and patientName !=''">
      and patientName like '%${patientName}%'
    </if>
    <!--调差身份证-->
    <if test="idCardNo !=null and idCardNo !=''">
      and idCardNo like '%${idCardNo}%'
    </if>
</select>

    <!--验证身份证号码是否重复-->
    <select id="queryIdCardNo" resultType="com.oel.lps.bean.Patient">
        SELECT idCardNo from l_patient p WHERE p.idCardNo=#{IdCardNo}
    </select>

    <!--新增患者信息-->
    <insert id="addPatient" parameterType="com.oel.lps.bean.Patient">
        INSERT INTO l_patient(patientId,patientName,patientSex,idCardNo,patientDate,patientAge,nation,faith,education,phoneNumber,height,weight,
        handHabit,maritaStatus,familyRanking,childrenNumber,childrenSituation,parentSituation,educationMode,shortNamw,shortCode,detailedAddress,
        source,sourceDepartment,estingItems,specialty,whole,treatmentProject,sourceDoctor,process,creationTime,state)
        VALUES
        (#{patientId},#{patientName},#{patientSex},#{idCardNo},#{patientDate},#{patientAge},#{nation},#{faith},
        #{education},#{phoneNumber},#{height},#{weight},#{handHabit},#{maritaStatus},#{familyRanking},#{childrenNumber},
        #{childrenSituation},#{parentSituation},#{educationMode},#{shortNamw},#{shortCode},#{detailedAddress},#{source},
        #{sourceDepartment},#{estingItems},#{specialty},#{whole},#{treatmentProject},#{sourceDoctor}, #{process},#{creationTime},#{state})
    </insert>

    <!--新增治疗项目
    <insert id="addLScreeningChiefcomplaint" parameterType="com.oel.lps.bean.ChiefComplaint">
        INSERT INTO l_screening_chiefcomplaint(patientID) VALUES(#{patientId})
    </insert>-->


    <!--根据id查询患者信息-->
    <select id="queryPatientById" parameterType="String" resultType="com.oel.lps.bean.Patient">
    SELECT  * from l_patient WHERE id=#{id}
</select>

</mapper>