<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oel.lps.mapper.VolumeMappper">
  <resultMap id="BaseResultMap" type="com.oel.lps.bean.Volume">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="a" jdbcType="VARCHAR" property="a" />
    <result column="b" jdbcType="VARCHAR" property="b" />
    <result column="c" jdbcType="VARCHAR" property="c" />
    <result column="d" jdbcType="VARCHAR" property="d" />
    <result column="f" jdbcType="VARCHAR" property="f" />
    <result column="vnamid" jdbcType="INTEGER" property="vnamid" />
    <result column="special" jdbcType="INTEGER" property="special" />
    <result column="Jump" jdbcType="INTEGER" property="jump" />
    <result column="assignment" jdbcType="INTEGER" property="assignment" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, `a`, b, `c`, d, f, vnamid, special, Jump, `assignment`
  </sql>



</mapper>